[submodule "gymnasium"]
	path = gymnasium
	url = https://github.com/kevin010717/gymnasium.git
[submodule "gymnasium-robotics"]
	path = gymnasium-robotics
	url = https://github.com/kevin010717/gymnasium-robotics.git
[submodule "mujoco-learning"]
	path = mujoco-learning
	url = https://github.com/kevin010717/mujoco-learning.git
[submodule "mujoco_learning"]
	path = mujoco_learning
	url = https://github.com/kevin010717/mujoco_learning.git
[submodule "mujoco"]
	path = mujoco
	url = https://github.com/kevin010717/mujoco.git
[submodule "mujoco_playground"]
	path = mujoco_playground
	url = https://github.com/kevin010717/mujoco_playground.git
