[submodule "gymnasium"]
	path = gymnasium
	url = https://github.com/kevin010717/gymnasium.git
[submodule "gymnasium-robotics"]
	path = gymnasium-robotics
	url = https://github.com/kevin010717/gymnasium-robotics.git
[submodule "mujoco-learning"]
	path = mujoco-learning
	url = https://github.com/kevin010717/mujoco-learning.git
